<form class="form" action="/auth/login" method="POST">
    <h1>Login</h1>


    {% if (isset($error)): %}
        <div class="form__alert--error">{{$error}}</div>
    {% endif; %}


    <div class="form__group">
        <label class="form__label">Email</label>
        <input name="email" value="{% if (isset($with->email)) echo $with->email %}" class="form__input" />
        {% if (isset($errors->email)): %}
            <span class='form__error'>{{$errors->email}}</span>
        {% endif; %}
    </div>

    <div class="form__group">
        <label class="form__label">Password</label>
        <input name="password" class="form__input" />
        {% if (isset($errors->password)): %}
            <span class='form__error'>{{$errors->password}}</span>
        {% endif; %}
    </div>

    <button class="form__button">Login</button>
</form>
