{% extendsRootView layouts/Admin.html %}

{% block title %}
Admin ACP
{% endblock %}

{% style %}
<style>
.newBlock {
    border: 1px dashed black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newBlock__column {
    margin-right: 1rem;
    border: 1px solid black;
    cursor: pointer;
    padding: 1rem;
}
.newBlock__column:last-child{
    margin-right: 0;
}
.block {
    display: flex;
}
.column {
    border: 1px dashed black;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.column__settings-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}
.column-100 {
    width: 100%;
}
.column-50 {
    width: 50%;
}
.column-33 {
    width: 33.3%;
}
.ql-snow {
    width: 100%;
}
</style>
{% endstyle %}

{% js %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js" defer></script>
<script src="/Public/js/DragAndDrop.js"></script>
<script src="/Public/js/PageBuilder.js"></script>
<script>
    const id = "{% echo $id %}";
    let page;

    const fetchPage = async () => {
        const response = await fetch("/admin/pages/"+parseInt(id)+"/fetch");
        page = await response.json();

        const title = document.getElementById("title");
        title.value = page.title;

        const slug = document.getElementById("slug");
        slug.value = page.slug;

        editBlocks(JSON.parse(page.content));
    }

    fetchPage()

    const onSubmit = async event => {
        event.preventDefault();

        const formData = new FormData();

        formData.append("id", page.id);
        formData.append("title", document.getElementById("title").value);
        formData.append("slug", document.getElementById("slug").value);
        formData.append("blocks", JSON.stringify(blocks));

        await fetch('/admin/pages/edit', {
            method: 'post',
            body: formData
        });
        window.location = "/admin/pages";
    }

    const form = document.getElementById("form");
    form.addEventListener("submit", onSubmit);
</script>
{% endjs %}

{% block content %}
    <h1>Admin ACP Page::Edit</h1>

    <form id="form">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="slug" id="slug" placeholder="Slug">
        <button>Save</button>


        <div id="content">

        </div>
        <div class="newBlock">
            <div class="newBlock__column" id="new_one_column">1 column</div>
            <div class="newBlock__column" id="new_two_columns">2 columns</div>
            <div class="newBlock__column" id="new_three_columns">3 columns</div>
        </div>
    </form>

{% endblock %}